.header {
    background-color: #efefef;
    height: 41px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left:10px;
    background-image: url(resolve-url-loader!./logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px 17px;
    width: 105px;
}



.mentry {
    width:25px;
    color:red;
    margin:12px;
}

.menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    transition: 0.5s;
}
.mnav {
    margin-top: 20px;
    margin-bottom:20px;
    height: 41px;
    position: relative;
}

.mnav > .mtab {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 41px;
}

.item,.mbody ul {

    list-style: none;
    padding:0px;
    margin:0px;
}
.item {
    border-top:1px solid #ccc;
}
.item:last-child{
    border-bottom:1px solid #ccc;
}



.item {
    height:80px;
    line-height: 80px;
    display:flex;
    align-items: center;
    padding-left:5px;

}

.item .title{
    font-size: 20px;
    margin-left:10px;
    width:4.5em;
}

.item .desc{
    font-size: 14px;
    color:#999;
}

.close{
    position: absolute;
    right:10px;
    top:3px;
    font-size: 30px;
    transform: rotate(45deg);
    line-height: 30px;
}




